<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container d-flex align-items-center">
    <%= link_to root_path(), class: "navbar-brand" do %>
      <div class="d-flex justify-content-center align-items-center">
        <%= image_tag "logo.png", id:"titleimg" %>
        <% if user_signed_in? %>
          <h2 id="nav-bar-text"><%= current_user.first_name %></h2>
        <% end %>
      </div>
    <% end %>
      <% if user_signed_in? %>
        <div class="d-flex justify-content-center ml-5">
          <% if current_user.role == "Donateur" %>
            <%= link_to "/chatrooms/1_path", class: "nav-link nav-bar-text" do %>
            <i class="fa-solid fa-envelope fa-lg me-2 pr-4"></i>
            <% end %>
          <% else %>
            <%= link_to "/chatrooms/2_path", class: "nav-link nav-bar-text" do %>
            <i class="fa-solid fa-envelope fa-lg me-2 pr-4"></i>
            <% end %>
          <% end %>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "icone-user-anonymous.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Tableau de Bord", dashboard_path(), class: "dropdown-item" %>
            <%= link_to "Votre Profil", edit_user_registration_path(), class: "dropdown-item" %>
            <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
