<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <div class="d-flex justify-content-center">
        <%= image_tag "logo.png", id:"titleimg" %>
        <p id="nav-bar-text">Mon nom</p>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center ml-5">
        <%= link_to "Messages", "#", class: "nav-link nav-bar-text", style:"margin-right: 10px; margin-top: 6px;" %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Dashboard", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
