<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path(), class: "navbar-brand" do %>
      <div class="d-flex justify-content-center">
        <%= image_tag "logo.png", id:"titleimg" %>
          <p id="nav-bar-text"><%= current_user.first_name %></p>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <div class="d-flex justify-content-center ml-5">
        <%= link_to "Messages", "#", class: "nav-link nav-bar-text", style:"margin-right: 10px; margin-top: 6px;" %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Tableau de Bord", dashboard_path(), class: "dropdown-item" %>
          <%= link_to "Votre Profil", edit_user_registration_path(), class: "dropdown-item" %>
          <%= link_to "Deconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <li class="nav-item">
        <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </div>
</div>
