<div class="white-card">
  <h2>Votre réservation est confirmée ! </h2>
  <div class="d-flex align-items-center">
    <div class="m-2" >
      <i class="fa-solid fa-hand-holding-heart"></i>
    </div>
    <div class="ms-2 pt-3">
      <h3><%= @request.needed_item.capitalize %></h3>
      <p><%= @request.category %></p>
    </div>
  </div>
  <% if @request.pickup_type == "Dépôt Maraude" %>
    <div class="d-flex align-items-center">
      <div class="m-2">
        <i class="fa-solid fa-calendar"></i>
      </div>
      <div class="ms-2 pt-3">
        <h3>Maraude sélectionnée</h3>
        <p><%= @request.pickup_date.strftime("%d.%m.%Y") %> : 19:00 - 22:00</p>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="m-2">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <div class="ms-2 pt-3">
        <h3>Point de rendez-vous</h3>
        <p>CITY-PHARMA : <%= @address %></p>
      </div>
    </div>
    <% elsif @request.pickup_type == "Retrait Ressourcerie" %>
      <div class="d-flex align-items-center">
        <div class="m-2">
          <i class="fa-solid fa-calendar"></i>
        </div>
        <div class="ms-2 pt-3">
          <h3>Date de Retrait</h3>
          <p><%= @request.pickup_date.strftime("%d.%m.%Y") %> : 11:00 - 20:00</p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="m-2">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="ms-2 pt-3">
          <h3>Ressourcerie Le Poulpe</h3>
          <p><%= @address %></p>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-center align-item-bottom mt-3 mb-3">
      <div style="width: 300px; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

<%= link_to dashboard_path() do %>
  <p class="back-link"><i class="fa-solid fa-clipboard-user mt-3 ms-4 me-3"></i>Retour au Tableau de bord</p>
<% end %>
