<div class="white-card">
  <h2>Faites votre demande ici :</h2>
  <%= simple_form_for @request do |f| %>
    <%= f.input :category,
                label: "Catégorie",
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'},
                collection: Request::CATEGORIES,
                label_method: ->(cat){ if cat == "Hygiène"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-pump-soap fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Hygiène</p></div>".html_safe
                  elsif cat == "Paramédical"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-suitcase-medical fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Paramédical</p></div>".html_safe
                  elsif cat == "Petit électroménager"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-plug fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Petit Electroménager</p></div>".html_safe
                  elsif cat == "Puériculture"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-children fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Puériculture</p></div>".html_safe
                  elsif cat == "Vêtement"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-shirt fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Vêtement</p></div>".html_safe
                  elsif cat == "Autres"
                  "<div class=\"d-flex justify-content-center flex-column w-100 h-100 mt-4\"><i class=\"fa-solid fa-ellipsis fa-2xl text-center mb-4\"></i><p class=\"text-center\" style=\"font-size: 13px\">Autres</p></div>".html_safe
                  end } %>
    <%= f.input :needed_item,
                label: "Votre besoin ?" %>
    <%= f.input :description,
                label: "Précisez votre demande",
                as: :text %>
    <%= f.submit 'Envoyer ma demande', class: "btn my-5 d-flex mx-auto" %>
  <% end %>
</div>
