<%# <h2>Votre Reservation</h2>
<%# <p><%= @request.status %>
<%# <p><%= @request.category %>
<%# <p><%= @request.needed_item %>

<div class="white-card">
  <% @request.id %>
  <% @request %>

  <% if @request.item_id? %>
    <h3> Bonne nouvelle ! </h3>
    <h3> Nous avons ce dont vous avez besoin ! </h3>
    <p> Faites votre choix puis sélectionnez votre option de retrait. </p>
    <h3> Produits disponibles : </h3>
    <%= @items.each do |item| %>
      <%= item.photo %>
      <%= item.name %>
    <% end %>
  <% else %>
    <h3> Votre produit n'est pas encore disponible. </h3>
    <p> Ne vous inquiétez pas, votre demande a bien été enregistrée par la ressourcerie Le Poule. </p>
    <p> Nous vous enverrons un message dès que nous recevons le produit que vous cherchez. </p>
    <h3> N'oubliez pas de consulter votre messagerie régulièrement ! </h3>
    <p> A très vite ! </p>
  <% end %>
</div>
