<h1>Mon Tableau de Bord</h1>

<% if current_user.role == "Demandeur" %>
  <%= link_to "Faire une nouvelle demande", new_request_path, class: "btn-blue px-3 py-2 mb-3" %>

  <div class="white-card">
    <h3>Mes Demandes</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" style="width: 100%" role="tablist">
        <a class="nav-item nav-link text-center active" id="nav-pending-tab" style="width: 50%" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true">En cours</a>
        <a class="nav-item nav-link text-center" id="nav-closed-tab" style="width: 50%" data-toggle="tab" href="#nav-closed" role="tab" aria-controls="nav-closed" aria-selected="false">Clôturées</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
        <ul class="list-group list-group-flush">
          <%= @pending_requests.each do |request| %>
            <li class="list-group-item">
              <%= request.status - %>
              <%= request.created_at - request.needed_item %>
              <%= link_to edit_request_path(request) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane fade" id="nav-closed" role="tabpanel" aria-labelledby="nav-closed-tab">
        <ul class="list-group list-group-flush">
          <%= @closed_requests.each do |request| %>
            <li class="list-group-item"><%= request.status - request.created_at - request.needed_item %>
              <%= link_to edit_request_path(request) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>


<%# if request.status == "En recherche"
  style="color: $mikado-yellow"
elsif request.status == "Besoin trouvé" || "A la Ressourcerie"
  style="color: $prussian-blue"
elsif request.status == "Remis"
  style="color: $green"
elsif request.status == "Remis"
  style="color: $green"
else request.status == "Annulé"
  style="color: $red" %>
