<h1 class="ms-3">Mon Tableau de Bord</h1>

<% if current_user.role == "Demandeur" %>
  <div class="col-md-12 text-center my-4">
    <%= link_to "Faire une nouvelle demande", new_request_path, class: "btn-blue px-3 py-2 mb-3" %>
  </div>

  <div class="white-card" style="overflow: scroll">
    <h3>Mes Demandes</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" style="width: 100%" role="tablist">
        <button class="nav-link active justify-content-center" id="nav-pending-tab" style="width: 50%" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="true">En cours</button>
        <button class="nav-link justify-content-center" id="nav-closed-tab" style="width: 50%" data-bs-toggle="tab" data-bs-target="#nav-closed" type="button" role="tab" aria-controls="nav-closed" aria-selected="false">Clôturées</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab" tabindex="0">
        <h3 class="dashboard-subtitle mt-3">À récuperer</h3>
          <ul class="list-group list-group-flush">
            <% @pending_requests.reverse.each do |request| %>
              <% if request.status == "A la ressourcerie" && request.pickup_date? %>
                <li class="list-group-item row">
                  <div class="col-md-11">
                    <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}" %></strong></p>
                    <p><strong>Statut: </strong><%= request.status %>
                    <p><strong>Option de Retrait: </strong><%="#{request.pickup_type}, le #{request.pickup_date.strftime("%d.%m.%Y")}" %>
                    <p><%= link_to "Confirmez la réception", update_delivered_path(request), data: {turbo_method: :patch}, class: "btn-yellow px-2 py-1" %></p>
                  </div>
                  <div class="col-md-1 float-right">
                    <%= link_to request_path(request) do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="separation-line mt-3"></div>
          <div class="mt-3"></div>
          <ul class="list-group list-group-flush">
            <% @pending_requests.reverse.each do |request| %>
              <% if request.status == "A la ressourcerie" && request.pickup_type == nil %>
                <li class="list-group-item row">
                  <div class="col-md-11">
                    <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}" %></strong></p>
                    <p><strong>Statut: </strong><%= request.status %>
                    <p><%= link_to "Choisir votre option de retrait", edit_pickup_path(request), class: "btn-yellow px-2 py-1" %></p>
                  </div>
                  <div class="col-md-1 float-right">
                    <%= link_to request_path(request) do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <div class="separation-line mt-3"></div>
        <h3 class="dashboard-subtitle mt-3">En cours de recherche</h3>
          <ul class="list-group list-group-flush">
            <% @pending_requests.reverse.each do |request| %>
              <% if request.pickup_type == nil && request.status != "A la ressourcerie" %>
                <li class="list-group-item row">
                  <div class="col-md-11">
                    <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}" %></strong></p>
                    <p><strong>Statut: </strong><%= request.status %>
                  </div>
                  <div class="col-md-1 float-right">
                    <%= link_to request_path(request) do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>

      <div class="tab-pane fade" id="nav-closed" role="tabpanel" aria-labelledby="nav-closed-tab" tabindex="0">
        <h3 class="dashboard-subtitle mt-3">Besoins Remis</h3>
          <ul class="list-group list-group-flush">
            <% @closed_requests.reverse.each do |request| %>
              <% if request.status == "Remis" %>
                <li class="list-group-item row">
                  <div class="col-md-11">
                    <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}" %></strong></p>
                    <p><strong>Statut: </strong><%= request.status %>
                    <p><strong>Retiré: </strong><%="#{request.pickup_type}, le #{request.pickup_date.strftime("%d.%m.%Y") if request.pickup_date?}" %>
                  </div>
                  <div class="col-md-1 float-right">
                    <%= link_to request_path(request) do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        <div class="separation-line mt-3"></div>
        <h3 class="dashboard-subtitle mt-3">Demandes Annulées</h3>
          <ul class="list-group list-group-flush">
            <% @closed_requests.reverse.each do |request| %>
              <% if request.status == "Annulée" %>
                <li class="list-group-item row">
                  <div class="col-md-11">
                    <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}" %></strong></p>
                    <p><strong>Statut: </strong><%= request.status %>
                  </div>
                  <div class="col-md-1 float-right">
                    <%= link_to request_path(request) do %>
                      <i class="fa-solid fa-eye"></i>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
<% elsif current_user.role == "Donateur" %>
  <div class="white-card" style="overflow: scroll" data-controller="visibility display-tab">
    <nav>
      <div class="nav nav-tabs" style="width: 100%" role="tablist">
        <button class="nav-link active justify-content-center" id="nav-alert-tab" style="width: 50%" data-bs-toggle="tab" data-bs-target="#nav-alert" type="button" role="tab" aria-controls="nav-alert" aria-selected="true">Mes alertes</button>
        <button class="nav-link justify-content-center" data-valueDonation=<%= params[:display_donation] || false %> id="nav-donation-tab" data-display-tab-target="donationTab" style="width: 50%" data-bs-toggle="tab" data-bs-target="#nav-donation" type="button" role="tab" aria-controls="nav-donation" aria-selected="false">Mes dons</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <ul class="list-group list-group-flush tab-pane fade show active" id="nav-alert" role="tabpanel" aria-labelledby="nav-alert-tab" tabindex="0">
        <% @donor_requests.reverse.each do |request| %>
          <li class="list-group-item row" data-visibility-target="hideable">
            <div style="width: 14rem">
              <% if request.description == "" %>
                <p style="margin-bottom: 2rem"><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}"%></strong></p><br>
              <% else %>
                <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}"%></strong></p>
                <p><%= "#{request.description}" %></p>
              <% end %>
            </div>
            <div>
              <div class="d-flex">
                <%= link_to request_dropoff_path(request), class:"check-btn" do %>
                  <span style="position: absolute; top: 0.3rem; right: 2rem; color: $green; ">Oui, j'ai !</span>
                  <i class="fa-solid fa-check"></i>
                <% end %>
                <div class="hide-btn">
                  <span style="position: absolute; bottom: 0.3rem; right: 2rem; color: $red; ">Non, je n'ai pas</span>
                  <i class="fa-solid fa-xmark" data-action="click->visibility#hide"></i>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-donation" role="tabpanel" aria-labelledby="nav-donation-tab" tabindex="0">
        <h3 class="dashboard-subtitle mt-3">Dons à déposer</h3>
        <ul class="list-group list-group-flush">
          <% @donor_pending_requests.reverse.each do |request| %>
            <li class="list-group-item row">
              <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}"%></strong></p>
              <p><strong> Status : </strong>A déposer le <%="#{request.dropoff_date.strftime("%d.%m.%Y")}"%></p>
              <p><%= link_to "Confirmez le dépôt", update_nested_item_path(request), class: "btn-yellow px-3 py-2", data: {turbo_method: :patch} %></p>
            </li>
          <% end %>
        </ul>
        <div class="separation-line mt-3">
        </div>
        <h3 class="dashboard-subtitle mt-3">Historique des dons</h3>
          <ul class="list-group list-group-flush">
            <% @donor_answered_requests.reverse.each do |request| %>
              <li class="list-group-item row">
                <p><strong><%= "#{request.created_at.strftime("%d.%m.%Y")} - #{request.needed_item.capitalize}"%></strong></p>
                <p><strong> Status : </strong><%= request.status%></p>
                </p>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
<% end %>
