<h1>Mon Tableau de Bord</h1>

<% if current_user.role == "Demandeur" %>
  <%= link_to "Faire une nouvelle demande", new_request_path, class: "btn-blue px-3 py-2 mb-3" %>

  <div class="card">
    <div class="card" style="width: 90%">
      <div class="card-header">Mes demandes
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Demandes en attente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="confirmed-tab" data-toggle="tab" href="#confirmed" role="tab" aria-controls="confirmed" aria-selected="false">Demandes Confirmées</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" id="canceled-tab" data-toggle="tab" href="#canceled" role="tab" aria-controls="canceled" aria-selected="false">Demandes Annulées</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <ul class="list-group list-group-flush">
            <%= @pending_requests.each do |request| %>
              <li class="list-group-item"><%= request.created_at - request.needed_item - request.status %>
                <%= link_to edit_request_path(request) do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade show active" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
          <ul class="list-group list-group-flush">
            <%= @confirmed_requests.each do |request| %>
              <li class="list-group-item"><%= request.created_at - request.needed_item - request.status %>
                <%= link_to edit_request_path(request) do %>
                  <i class="fa-solid fa-pen"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade show active" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
          <ul class="list-group list-group-flush">
            <%= @canceled_requests.each do |request| %>
              <li class="list-group-item"><%= request.created_at - request.needed_item - request.status %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
