<div class="container-fluid h-100 p-4">
  <div class="container-logo">
      <%= image_tag "logo.png", style: 'height:50px' %>
      <%= image_tag "logo-script.png", style: 'height:30px' %>
  </div>
  <div class="row justify-content-left">
    <div class="col-12 col-lg-6">
      <div class="container-pitch mr-3">
        <h3><span data-controller="typed-js" class="pitch-home"></span></h3>
        <br>
        <p class="pitch-home">Notre mission : mobiliser et outiller les citoyens pour accompagner les plus démunis.</p>
      </div>
      <div class="container-btn fixed-bottom mb-10">
        <% if user_signed_in? && current_user.role == "Donateur" %>
          <%= link_to "Entrer", "/chatrooms/1##{Chatroom.find(1).messages.last&.id}", data: { turbo: false }, class: "btn btn-home mb-3"%>
        <% elsif user_signed_in? && current_user.role == "Demandeur"%>
          <%= link_to "Entrer", dashboard_path(), class: "btn btn-home mb-3"%>
        <% else %>
          <%= link_to "Je m'inscris", new_user_registration_path, class: "btn btn-home mb-3"%>
          <br>
          <%= link_to "J'ai déjà un compte",  new_user_session_path, class: "btn btn-home"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
