<div class="container-fluid h-100 p-4">
  <div class="container-logo">
      <%= image_tag "logo.png", style: 'height:50px' %>
      <%= image_tag "logo-script.png", style: 'height:30px' %>
  </div>
  <div class="container-pitch">
    <h3>Le réseau social, vraiment social.</h3>
    <p>Notre mission : mobiliser et outiller les citoyens pour accompagner les plus démunis.</p>
  </div>
  <div class="container-btn">
    <% if user_signed_in? %>
      <%= link_to "Entrer", dashboard_path(), class: "btn mb-3"%>
    <% else %>
      <%= link_to "Je m'inscris", new_user_registration_path, class: "btn mb-3"%>
      <br>
      <%= link_to "J'ai déjà un compte",  new_user_session_path, class: "btn"%>
    <% end %>
  </div>
</div>

